// Colors
// @formatter:off
.colorNeutral { color: #fff; }
.colorNeutralLight { color: #a9b7c6; }
.colorPrimary { color: #cc7832; }
.colorPrimaryLight { color: #ffc66d; }
.colorSecondary { color: #9876aa; }
.colorSecondaryLight { color: #769aa5; }
.colorTernary { color: #629755; }
.colorTernaryLight { color: #00be0b; }
.colorError { color: #ee4d2e; }

.bgDark { background-color: #111111; }
.bgNormal { background: #222222; }
.bgLight { background: #444444; }
// @formatter:on

// Mixins

.flexMaxHeight {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}

// General elements

* {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  .flexMaxHeight;
  .colorNeutralLight;
  height: 100%;
  .bgNormal;
}

pre {
  background: #333;
  overflow: auto;
  border: 1px solid #444;
  padding: 8px;
}

a {
  .colorSecondary;
}

#loading {
  font-size: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// BugElements

.BugTabs {
  .flexMaxHeight;
  .tabBar {
    .bgLight;
    .tab {
      cursor: pointer;
      display: inline-block;
      padding: 5px 10px;
      border-bottom: 4px solid #444;
      color: #AAA;
      &.active {
        border-color: #777;
        color: #FFF;
      }
    }
  }
  .tabsContents {
    .flexMaxHeight;
    .tabsContentHolder {
      .flexMaxHeight;
      overflow: auto;
    }
  }
}

.BugSplit {
  .flexMaxHeight;
  .BugSplitElement {
    .flexMaxHeight;
    overflow: auto;
  }
}

.BugEntry {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  > .opener:before {
    display: inline-block;
    width: 16px;
    .colorNeutralLight;
    content: " ";
  }
  &.closed {
    > .opener:before {
      cursor: pointer;
      content: "\25BA";
    }
    .hideCollapsed {
      display: none;
    }
  }
  &.opened {
    > .opener:before {
      cursor: pointer;
      content: "\25BC";
    }
  }
}

.BugInputText {
  border: 1px solid #444;
  padding: 0px 5px;
  display: inline-block;
  cursor: default;
  position: relative;
  white-space: pre-wrap;
  &[contenteditable=true] {
    cursor: text;
    background-color: #111;
    &:empty:before {
      content: "\00a0";
    }
    &:after {
      .colorSecondary;
      position: absolute;
      left: 8px;
      top: 0px;
      content: attr(prefix);
    }
  }
}

// Custom formats

.paddingNormal {
  padding: 16px;
}

.autoScale {
  transform-origin: 0px 0px;
}

.groupHover {
  background-color: rgba(100, 100, 255, 0.2);
}

.clickable {
  cursor: pointer;
}

.entryContent {
  padding-left: 16px;
}

.measurePre {
  font-family: monospace;
}

.checkWithBorder {
  span {
    .colorNeutralLight
  }
  input {
    display: none;
    &:checked + span {
      .colorNeutral
    }
  }
}

pre.console {
  border: none;
  border-bottom: 1px solid #777;
  background-color: #222;
}
.BugInvokable.console {
  padding: 8px 0px;
  background-color: #111;
}
.BugInputText.console {
  display:block;
  position: relative;
  font-family: monospace;
  border: none;
  outline: none;
  background-color: transparent;
  &.active {
    border: none;
  }
}

// @formatter:off
.modFilter:not(.showpublic) .modpublic{display:none}
.modFilter:not(.showprivate) .modprivate{display:none}
.modFilter:not(.showpackage) .modpackage{display:none}
.modFilter:not(.showprotected) .modprotected{display:none}
.modFilter:not(.showstatic) .modstatic{display:none}
.modFilter:not(.showfinal) .modfinal{display:none}
.modFilter:not(.showsynchronized) .modsynchronized{display:none}
.modFilter:not(.showvolatile) .modvolatile{display:none}
.modFilter:not(.showtransient) .modtransient{display:none}
.modFilter:not(.shownative) .modnative{display:none}
.modFilter:not(.showinterface) .modinterface{display:none}
.modFilter:not(.showabstract) .modabstract{display:none}
.modFilter:not(.showstrict) .modstrict{display:none}
// @formatter:on