*{margin:0;padding:0;cursor:default;font-weight:normal;flex-shrink:0;}
li{list-style-type:none}
html{height:100%}
body{background:#222;color:#FFF;font-family:sans-serif;display:flex;flex-direction:column;height:100%}
h1{text-align:center;background:#444}
a{color:inherit;text-decoration:none;cursor:pointer}
iframe{background:#FFF}
.closed:before{display:inline-block;content:"\25BA";width:1em;color:#AAA}
.opened:before{display:inline-block;content:"\25BC";width:1em;color:#AAA}
.invoke:before{display:inline-block;content:"\2607";width:1em;color:#FFF;padding-left:0.5em}
.nullify:before{display:inline-block;content:"\2205";color:#A00;margin-left:0.5em}
.refresh:before{display:inline-block;content:"\27F3";width:1em;color:#FFF}
input[type=checkbox]{display:none;}
input[type=checkbox] + label:before {display:inline-block;width:1em;color:#AAA;content:""}
input[append][type=checkbox] + label:before {content:"\25BA"}
input[append][type=checkbox]:checked + label:before {content:"\25BC"}
.append{padding-left:1em;}
.expand{margin:5px 0px 10px 1.5em}
.object{display:block;font-family:monospace;white-space:nowrap;max-width:50em;overflow:hidden;text-overflow:ellipsis;color:#777}
.fieldName{color:#9876AA}
.type{color:#CC7832}
.modifier{color:#CC7832}
.value{color:#A9B7C6}
.predefined{display:none}
[contentEditable]{border:1px solid #444;cursor:cursor:text;padding:0px 5px;display:inline-block}
/*[contenteditable=true]:empty:before{content:"\00a0"}*/
.edited{color:#FF0}
[tabContent]{display:inline-block;padding:5px 10px;border-bottom:4px solid #444;color:#AAA}
.active[tabContent]{border-color:#777;color:#FFF}
.tabContent{padding:20px;display:none;flex-grow:1;flex-basis:0;overflow:auto}
.tabs{padding:0px 20px;background:#444}
.flexCol{display:flex;flex-direction:column}
.flexGrow{flex-grow:1}
[split="horizontal"]>div{display:inline-block;vertical-align:top}
.viewRect.hover{background: rgba(100,100,255,0.2)}
.hover{color:#F00}
input{margin:0px 5px}
body:not(.showpublic) .modpublic{display:none}
body:not(.showprivate) .modprivate{display:none}
body:not(.showpackage) .modpackage{display:none}
body:not(.showprotected) .modprotected{display:none}
body:not(.showstatic) .modstatic{display:none}
body:not(.showfinal) .modfinal{display:none}
body:not(.showsynchronized) .modsynchronized{display:none}
body:not(.showvolatile) .modvolatile{display:none}
body:not(.showtransient) .modtransient{display:none}
body:not(.shownative) .modnative{display:none}
body:not(.showinterface) .modinterface{display:none}
body:not(.showabstract) .modabstract{display:none}
body:not(.showstrict) .modstrict{display:none}